body{
    margin: 0;
    padding: 0;
}

.texto-destaque{
    font-size: 18px;
    font-weight: bold;
    color: skyblue;
    padding-right: 2px;
}

main{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

img{
    height: 400px;
    width: 400px;

}

main>div{
    padding-left: 5px;
}

@media (max-width: 700px){
    flex-wrap: nowrap;
    img{
        height: 100px;
        width: 100px;
    }
}


@media (max-width:400px)
{
    .texto-destaque{
        font-size:20px;
    }
}

@media (min-width:700);
